@font-face {
  font-family: "iconfont"; /* Project id 5000107 */
  src: url('//at.alicdn.com/t/c/font_5000107_o040d4ylb.woff2?t=1755246692498') format('woff2'),
       url('//at.alicdn.com/t/c/font_5000107_o040d4ylb.woff?t=1755246692498') format('woff'),
       url('//at.alicdn.com/t/c/font_5000107_o040d4ylb.ttf?t=1755246692498') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaohongshu:before {
  content: "\e66d";
}
